In [1]:
import pandas as pd
import logging

ModuleNotFoundError: No module named 'pandas'

In [4]:
data=pd.read_csv('insurance.csv')
data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [5]:
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')
logging.debug("This is a debug message")
logging.info("This is an info message")
logging.warning("This is a warning message")
logging.error("This is an error message")
logging.critical("This is a critical message")
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s', filename='app.log')

2023-06-06 23:38:16,191 - INFO - This is an info message
2023-06-06 23:38:16,198 - WARNING - This is a warning message
2023-06-06 23:38:16,200 - ERROR - This is an error message
2023-06-06 23:38:16,201 - CRITICAL - This is a critical message

In [6]:
data.shape

(1338, 7)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [8]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [9]:
data.describe(include='all')

,age,sex,bmi,children,smoker,region,expenses
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.665471,1.094918,NaN,NaN,13270.422414
std,14.049960,NaN,6.098382,1.205493,NaN,NaN,12110.011240
min,18.000000,NaN,16.000000,0.000000,NaN,NaN,1121.870000
25%,27.000000,NaN,26.300000,0.000000,NaN,NaN,4740.287500
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.030000
75%,51.000000,NaN,34.700000,2.000000,NaN,NaN,16639.915000
max,64.000000,NaN,53.100000,5.000000,NaN,NaN,63770.430000

In [10]:
data['sex'].unique()

array(['female', 'male'], dtype=object)

In [11]:
data['sex']=data['sex'].map({'female':0,'male':1})

In [12]:
data['smoker']=data['smoker'].map({'yes':0,'no':1})

In [13]:
data['region']=data['region'].map({'southwest':0, 'southeast':1, 'northwest':2, 'northeast':3})

In [14]:
data.head()

   age  sex   bmi  children  smoker  region  expenses
0   19    0  27.9         0       0       0  16884.92
1   18    1  33.8         1       1       1   1725.55
2   28    1  33.0         3       1       1   4449.46
3   33    1  22.7         0       1       2  21984.47
4   32    1  28.9         0       1       2   3866.86

In [15]:
X = data.drop(['expenses'],axis=1)
X.head()

   age  sex   bmi  children  smoker  region
0   19    0  27.9         0       0       0
1   18    1  33.8         1       1       1
2   28    1  33.0         3       1       1
3   33    1  22.7         0       1       2
4   32    1  28.9         0       1       2

In [16]:
Y=data['expenses']
Y.head()

0    16884.92
1     1725.55
2     4449.46
3    21984.47
4     3866.86
Name: expenses, dtype: float64

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.2,random_state=69)

In [19]:
X_train.head()

      age  sex   bmi  children  smoker  region
55     58    1  37.0         2       0       2
1334   18    0  31.9         0       1       3
852    46    0  35.5         0       0       3
738    23    1  31.7         3       0       3
1132   57    1  40.3         0       1       3

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [21]:
lr= LinearRegression()
lr.fit(X_train,Y_train)

LinearRegression()

In [22]:
svm= SVR()
svm.fit(X_train,Y_train)

SVR()

In [23]:
rfr = RandomForestRegressor()
rfr.fit(X_train,Y_train)

RandomForestRegressor()

In [24]:
gbr=  GradientBoostingRegressor()
gbr.fit(X_train,Y_train)

GradientBoostingRegressor()

In [25]:
y_pred1=lr.predict(X_test)
y_pred2=svm.predict(X_test)
y_pred3=rfr.predict(X_test)
y_pred4=gbr.predict(X_test)

In [26]:
df1=pd.DataFrame({'Actual':Y_test,'Linearregresion':y_pred1,'svm':y_pred2,'rfr':y_pred3,'gbr':y_pred4})
df1

        Actual  Linearregresion          svm         rfr           gbr
780   18259.22     27763.274672  8999.198621  19927.7775  17886.031365
1146  52590.83     36624.902723  9185.346131  45714.4797  44945.175654
1032   4137.52      5130.539856  8998.846359   3926.1165   5095.979806
1045  21880.82     31650.866947  9081.401203  21177.7444  23147.967094
985    7624.63      7225.443309  9088.316498   7935.6606   8494.538337
...        ...              ...          ...         ...           ...
1117  36124.57     29462.578191  8977.017841  35898.3154  36042.835825
772   12797.21     11638.853017  9092.848386  10377.7922   9413.543027
363    2597.78      1633.978181  8960.719693   2717.7572   3620.563742
910    2639.04      3161.091034  8963.680168   3877.2782   4418.686860
1042  33475.82     27057.013771  8958.684419  33763.0828  33550.288376

[268 rows x 5 columns]

In [27]:
from sklearn import metrics

In [28]:
score1= metrics.r2_score(Y_test,y_pred1)
score2= metrics.r2_score(Y_test,y_pred2)
score3= metrics.r2_score(Y_test,y_pred3)
score4= metrics.r2_score(Y_test,y_pred4)
print(score1,score2,score3,score4)

0.7438407854725553 -0.18033580891792855 0.8232142978524468 0.8453175560664438

In [29]:
s1= metrics.mean_absolute_error(Y_test,y_pred1)
s2= metrics.mean_absolute_error(Y_test,y_pred2)
s3= metrics.mean_absolute_error(Y_test,y_pred3)
s4= metrics.mean_absolute_error(Y_test,y_pred4)
print(s1,s2,s3,s4)

4500.200776224587 9599.210836716671 3050.03077033582 2647.017699472501

In [30]:
gbr=GradientBoostingRegressor()
gbr.fit(X,Y)

GradientBoostingRegressor()

In [31]:
import joblib
joblib.dump(gbr,'model')

['model']

In [33]:
model=joblib.load('model')

In [40]:
age = int(input("Enter age: "))
sex = input("Enter sex (female/male): ")
bmi = float(input("Enter BMI: "))
children = int(input("Enter number of children: "))
smoker = input("Are you a smoker (yes/no): ")
region = input("Enter region (southwest/southeast/northwest/northeast): ")

# Map the user input to numerical values
sex = 0 if sex.lower() == 'female' else 1
smoker = 0 if smoker.lower() == 'yes' else 1
region_mapping = {'southwest': 0, 'southeast': 1, 'northwest': 2, 'northeast': 3}
region = region_mapping.get(region.lower())

# Create an input data DataFrame with user input
input_data = pd.DataFrame({'age': [age],
                           'sex': [sex],
                           'bmi': [bmi],
                           'children': [children],
                           'smoker': [smoker],
                           'region': [region]})

# Make a prediction
prediction = model.predict(input_data)

print("Predicted expense:", prediction[0])

Enter age: 20
Enter sex (female/male): female
Enter BMI: 25
Enter number of children: 0
Are you a smoker (yes/no): 0
Enter region (southwest/southeast/northwest/northeast): southeast
Predicted expense: 2709.0118541530856